// Icon
//
// Styleguide Settings.icon

// Any updates here should also be reflected in objects/icon so they
// appear in the styleguide.
$duk-icon-mappings: (
  font-family: 'Doghouse UIKit',
  path: $duk-icon-font-path,
  filename: 'icomoon',
  codes: (
    arrow-default-right: "\e900",
    arrow-thin-right: "\e901",
    instagram: "\e903",
    facebook: "\f09a",
    facebook-f: "\f09a",
    twitter: "\f099",
    envelope: "\e902",
    asterisk: "\f069",
    plus: "\f067",
    question: "\f128",
    minus: "\f068",
    music: "\f001",
    search: "\f002",
    heart: "\f004",
    star: "\f005",
    star-o: "\f006",
    user: "\f007",
    film: "\f008",
    th-large: "\f009",
    th: "\f00a",
    th-list: "\f00b",
    check: "\f00c",
    close: "\f00d",
    remove: "\f00d",
    times: "\f00d",
    search-plus: "\f00e",
    search-minus: "\f010",
    power-off: "\f011",
    signal: "\f012",
    cog: "\f013",
    gear: "\f013",
    trash-o: "\f014",
    home: "\f015",
    file-o: "\f016",
    clock-o: "\f017",
    download: "\f019",
    arrow-circle-o-down: "\f01a",
    arrow-circle-o-up: "\f01b",
    play-circle-o: "\f01d",
    repeat: "\f01e",
    rotate-right: "\f01e",
    refresh: "\f021",
    lock: "\f023",
    flag: "\f024",
    headphones: "\f025",
    volume-off: "\f026",
    volume-down: "\f027",
    volume-up: "\f028",
    tag: "\f02b",
    tags: "\f02c",
    book: "\f02d",
    bookmark: "\f02e",
    camera: "\f030",
    font: "\f031",
    bold: "\f032",
    italic: "\f033",
    text-height: "\f034",
    text-width: "\f035",
    align-left: "\f036",
    align-center: "\f037",
    align-right: "\f038",
    align-justify: "\f039",
    list: "\f03a",
    dedent: "\f03b",
    outdent: "\f03b",
    indent: "\f03c",
    video-camera: "\f03d",
    image: "\f03e",
    photo: "\f03e",
    picture-o: "\f03e",
    pencil: "\f040",
    map-marker: "\f041",
    adjust: "\f042",
    tint: "\f043",
    pause: "\f04c",
    stop: "\f04d",
    forward: "\f04e",
    fast-forward: "\f050",
    step-forward: "\f051",
    eject: "\f052",
    chevron-left: "\f053",
    chevron-right: "\f054",
    plus-circle: "\f055",
    minus-circle: "\f056",
    times-circle: "\f057",
    check-circle: "\f058",
    question-circle: "\f059",
    info-circle: "\f05a",
    arrow-right: "\f061",
    arrow-up: "\f062",
    arrow-down: "\f063",
    mail-forward: "\f064",
    share: "\f064",
    expand: "\f065",
    compress: "\f066",
    exclamation-circle: "\f06a",
    eye: "\f06e",
    eye-slash: "\f070",
    exclamation-triangle: "\f071",
    warning: "\f071",
    calendar: "\e904",
    random: "\f074",
    comment: "\f075",
    chevron-up: "\f077",
    chevron-down: "\f078",
    retweet: "\f079",
    shopping-cart: "\f07a",
    folder: "\f07b",
    folder-open: "\f07c",
    twitter-square: "\f081",
    facebook-square: "\f082",
    camera-retro: "\f083",
    thumbs-o-up: "\f087",
    thumbs-o-down: "\f088",
    sign-out: "\f08b",
    linkedin-square: "\f08c",
    github: "\f09b",
    unlock: "\f09c",
    credit-card: "\f09d",
    feed: "\f09e",
    rss: "\f09e",
    hdd-o: "\f0a0",
    bullhorn: "\f0a1",
    bell-o: "\f0a2",
    arrow-circle-left: "\f0a8",
    arrow-circle-right: "\f0a9",
    arrow-circle-up: "\f0aa",
    arrow-circle-down: "\f0ab",
    bars: "\f0c9",
    navicon: "\f0c9",
    reorder: "\f0c9",
    list-ul: "\f0ca",
    list-ol: "\f0cb",
    pinterest: "\f0d2",
    pinterest-square: "\f0d3",
    google-plus-square: "\f0d4",
    google-plus: "\f0d5",
    caret-down: "\f0d7",
    caret-up: "\f0d8",
    caret-left: "\f0d9",
    caret-right: "\f0da",
    sort-desc: "\f0dd",
    sort-down: "\f0dd",
    sort-asc: "\f0de",
    sort-up: "\f0de",
    cloud-download: "\f0ed",
    plus-square: "\f0fe",
    angle-double-left: "\f100",
    angle-double-right: "\f101",
    angle-double-up: "\f102",
    angle-double-down: "\f103",
    angle-left: "\f104",
    angle-right: "\f105",
    angle-up: "\f106",
    angle-down: "\f107",
    quote-left: "\f10d",
    quote-right: "\f10e",
    spinner: "\f110",
    circle: "\f111",
    folder-open-o: "\f115",
    smile-o: "\f118",
    frown-o: "\f119",
    meh-o: "\f11a",
    gamepad: "\f11b",
    code-fork: "\f126",
    exclamation: "\f12a",
    microphone: "\f130",
    microphone-slash: "\f131",
    chevron-circle-left: "\f137",
    chevron-circle-right: "\f138",
    chevron-circle-up: "\f139",
    chevron-circle-down: "\f13a",
    unlock-alt: "\f13e",
    ellipsis-h: "\f141",
    ellipsis-v: "\f142",
    rss-square: "\f143",
    play-circle: "\f144",
    minus-square: "\f146",
    minus-square-o: "\f147",
    check-square: "\f14a",
    pencil-square: "\f14b",
    external-link-square: "\f14c",
    share-square: "\f14d",
    thumbs-up: "\f164",
    thumbs-down: "\f165",
    youtube: "\f16a",
    dropbox: "\f16b",
    bitbucket: "\f171",
    tumblr-square: "\f174",
    apple: "\f179",
    windows: "\f17a",
    android: "\f17b",
    linux: "\f17c",
    female: "\f182",
    male: "\f183",
    arrow-circle-o-right: "\f18e",
    arrow-circle-o-left: "\f190",
    plus-square-o: "\f196",
    slack: "\f198",
    google: "\f1a0",
    drupal: "\f1a9",
    child: "\f1ae",
    automobile: "\f1b9",
    car: "\f1b9",
    file-pdf-o: "\f1c1",
    file-word-o: "\f1c2",
    file-excel-o: "\f1c3",
    file-powerpoint-o: "\f1c4",
    file-image-o: "\f1c5",
    file-photo-o: "\f1c5",
    file-picture-o: "\f1c5",
    file-archive-o: "\f1c6",
    file-zip-o: "\f1c6",
    file-audio-o: "\f1c7",
    file-sound-o: "\f1c7",
    file-movie-o: "\f1c8",
    file-video-o: "\f1c8",
    file-code-o: "\f1c9",
    qq: "\f1d6",
    wechat: "\f1d7",
    weixin: "\f1d7",
    paper-plane: "\f1d8",
    send: "\f1d8",
    circle-thin: "\f1db",
    cc-visa: "\f1f0",
    cc-mastercard: "\f1f1",
    cc-amex: "\f1f3",
    cc-paypal: "\f1f4",
    copyright: "\f1f9",
    area-chart: "\f1fe",
    pie-chart: "\f200",
    line-chart: "\f201",
    toggle-off: "\f204",
    toggle-on: "\f205",
    user-plus: "\f234",
    user-times: "\f235",
    bed: "\f236",
    hotel: "\f236",
    battery: "\f240",
    battery-4: "\f240",
    battery-full: "\f240",
    clone: "\f24d",
    industry: "\f275",
    map-o: "\f278",
    map: "\f279",
    commenting: "\f27a",
    pause-circle-o: "\f28c",
    stop-circle-o: "\f28e",
    question-circle-o: "\f29c",
    times-rectangle: "\f2d3",
    window-close: "\f2d3",
  )
);

// $duk-icon-mappings
//
// Settings used for icon functions.
//
// ``` scss
// $duk-icon-mappings: (
//  font-family: 'Doghouse UIKit',
//  path: $duk-icon-font-path,
//  filename: 'icomoon',
//  codes: (
//    arrow-default-right: "\e900",
//    arrow-thin-right: "\e901",
//    instagram: "\e903",
//    asterisk: "\f069",
//    plus: "\f067",
//    question: "\f128",
//    minus: "\f068",
//    music: "\f001",
//    search: "\f002",
//    heart: "\f004",
//    star: "\f005",
//    star-o: "\f006",
//    user: "\f007",
//    film: "\f008",
//    th-large: "\f009",
//    th: "\f00a",
//    th-list: "\f00b",
//    check: "\f00c",
//    close: "\f00d",
//    remove: "\f00d",
//    times: "\f00d",
//    search-plus: "\f00e",
//    search-minus: "\f010",
//    power-off: "\f011",
//    signal: "\f012",
//    cog: "\f013",
//    gear: "\f013",
//    trash-o: "\f014",
//    home: "\f015",
//    file-o: "\f016",
//    clock-o: "\f017",
//    download: "\f019",
//    arrow-circle-o-down: "\f01a",
//    arrow-circle-o-up: "\f01b",
//    play-circle-o: "\f01d",
//    repeat: "\f01e",
//    rotate-right: "\f01e",
//    refresh: "\f021",
//    lock: "\f023",
//    flag: "\f024",
//    headphones: "\f025",
//    volume-off: "\f026",
//    volume-down: "\f027",
//    volume-up: "\f028",
//    tag: "\f02b",
//    tags: "\f02c",
//    book: "\f02d",
//    bookmark: "\f02e",
//    camera: "\f030",
//    font: "\f031",
//    bold: "\f032",
//    italic: "\f033",
//    text-height: "\f034",
//    text-width: "\f035",
//    align-left: "\f036",
//    align-center: "\f037",
//    align-right: "\f038",
//    align-justify: "\f039",
//    list: "\f03a",
//    dedent: "\f03b",
//    outdent: "\f03b",
//    indent: "\f03c",
//    video-camera: "\f03d",
//    image: "\f03e",
//    photo: "\f03e",
//    picture-o: "\f03e",
//    pencil: "\f040",
//    map-marker: "\f041",
//    adjust: "\f042",
//    tint: "\f043",
//    pause: "\f04c",
//    stop: "\f04d",
//    forward: "\f04e",
//    fast-forward: "\f050",
//    step-forward: "\f051",
//    eject: "\f052",
//    chevron-left: "\f053",
//    chevron-right: "\f054",
//    plus-circle: "\f055",
//    minus-circle: "\f056",
//    times-circle: "\f057",
//    check-circle: "\f058",
//    question-circle: "\f059",
//    info-circle: "\f05a",
//    arrow-right: "\f061",
//    arrow-up: "\f062",
//    arrow-down: "\f063",
//    mail-forward: "\f064",
//    share: "\f064",
//    expand: "\f065",
//    compress: "\f066",
//    exclamation-circle: "\f06a",
//    eye: "\f06e",
//    eye-slash: "\f070",
//    exclamation-triangle: "\f071",
//    warning: "\f071",
//    calendar: "\e904",
//    random: "\f074",
//    comment: "\f075",
//    chevron-up: "\f077",
//    chevron-down: "\f078",
//    retweet: "\f079",
//    shopping-cart: "\f07a",
//    folder: "\f07b",
//    folder-open: "\f07c",
//    twitter-square: "\f081",
//    facebook-square: "\f082",
//    camera-retro: "\f083",
//    thumbs-o-up: "\f087",
//    thumbs-o-down: "\f088",
//    sign-out: "\f08b",
//    linkedin-square: "\f08c",
//    twitter: "\f099",
//    facebook: "\f09a",
//    facebook-f: "\f09a",
//    github: "\f09b",
//    unlock: "\f09c",
//    credit-card: "\f09d",
//    feed: "\f09e",
//    rss: "\f09e",
//    hdd-o: "\f0a0",
//    bullhorn: "\f0a1",
//    bell-o: "\f0a2",
//    arrow-circle-left: "\f0a8",
//    arrow-circle-right: "\f0a9",
//    arrow-circle-up: "\f0aa",
//    arrow-circle-down: "\f0ab",
//    bars: "\f0c9",
//    navicon: "\f0c9",
//    reorder: "\f0c9",
//    list-ul: "\f0ca",
//    list-ol: "\f0cb",
//    pinterest: "\f0d2",
//    pinterest-square: "\f0d3",
//    google-plus-square: "\f0d4",
//    google-plus: "\f0d5",
//    caret-down: "\f0d7",
//    caret-up: "\f0d8",
//    caret-left: "\f0d9",
//    caret-right: "\f0da",
//    sort-desc: "\f0dd",
//    sort-down: "\f0dd",
//    sort-asc: "\f0de",
//    sort-up: "\f0de",
//    cloud-download: "\f0ed",
//    plus-square: "\f0fe",
//    angle-double-left: "\f100",
//    angle-double-right: "\f101",
//    angle-double-up: "\f102",
//    angle-double-down: "\f103",
//    angle-left: "\f104",
//    angle-right: "\f105",
//    angle-up: "\f106",
//    angle-down: "\f107",
//    quote-left: "\f10d",
//    quote-right: "\f10e",
//    spinner: "\f110",
//    circle: "\f111",
//    folder-open-o: "\f115",
//    smile-o: "\f118",
//    frown-o: "\f119",
//    meh-o: "\f11a",
//    gamepad: "\f11b",
//    code-fork: "\f126",
//    exclamation: "\f12a",
//    microphone: "\f130",
//    microphone-slash: "\f131",
//    chevron-circle-left: "\f137",
//    chevron-circle-right: "\f138",
//    chevron-circle-up: "\f139",
//    chevron-circle-down: "\f13a",
//    unlock-alt: "\f13e",
//    ellipsis-h: "\f141",
//    ellipsis-v: "\f142",
//    rss-square: "\f143",
//    play-circle: "\f144",
//    minus-square: "\f146",
//    minus-square-o: "\f147",
//    check-square: "\f14a",
//    pencil-square: "\f14b",
//    external-link-square: "\f14c",
//    share-square: "\f14d",
//    thumbs-up: "\f164",
//    thumbs-down: "\f165",
//    youtube: "\f16a",
//    dropbox: "\f16b",
//    bitbucket: "\f171",
//    tumblr-square: "\f174",
//    apple: "\f179",
//    windows: "\f17a",
//    android: "\f17b",
//    linux: "\f17c",
//    female: "\f182",
//    male: "\f183",
//    arrow-circle-o-right: "\f18e",
//    arrow-circle-o-left: "\f190",
//    plus-square-o: "\f196",
//    slack: "\f198",
//    google: "\f1a0",
//    drupal: "\f1a9",
//    child: "\f1ae",
//    automobile: "\f1b9",
//    car: "\f1b9",
//    file-pdf-o: "\f1c1",
//    file-word-o: "\f1c2",
//    file-excel-o: "\f1c3",
//    file-powerpoint-o: "\f1c4",
//    file-image-o: "\f1c5",
//    file-photo-o: "\f1c5",
//    file-picture-o: "\f1c5",
//    file-archive-o: "\f1c6",
//    file-zip-o: "\f1c6",
//    file-audio-o: "\f1c7",
//    file-sound-o: "\f1c7",
//    file-movie-o: "\f1c8",
//    file-video-o: "\f1c8",
//    file-code-o: "\f1c9",
//    qq: "\f1d6",
//    wechat: "\f1d7",
//    weixin: "\f1d7",
//    paper-plane: "\f1d8",
//    send: "\f1d8",
//    circle-thin: "\f1db",
//    cc-visa: "\f1f0",
//    cc-mastercard: "\f1f1",
//    cc-amex: "\f1f3",
//    cc-paypal: "\f1f4",
//    copyright: "\f1f9",
//    area-chart: "\f1fe",
//    pie-chart: "\f200",
//    line-chart: "\f201",
//    toggle-off: "\f204",
//    toggle-on: "\f205",
//    user-plus: "\f234",
//    user-times: "\f235",
//    bed: "\f236",
//    hotel: "\f236",
//    battery: "\f240",
//    battery-4: "\f240",
//    battery-full: "\f240",
//    clone: "\f24d",
//    industry: "\f275",
//    map-o: "\f278",
//    map: "\f279",
//    commenting: "\f27a",
//    pause-circle-o: "\f28c",
//    stop-circle-o: "\f28e",
//    question-circle-o: "\f29c",
//    times-rectangle: "\f2d3",
//    window-close: "\f2d3",
//  )
//);
// ```
//
// Styleguide Settings.icon.$duk-icon-mappings
