{#
/**
 * @file
 * Template for a teaser map-popup location layout.
 */
#}
{%
  set classes = [
  'teaser',
  'teaser--map-popup',
]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>

    <div class="teaser__row">
      {% if content.image %}
        <div class="teaser__image">
          {{ content.image }}
        </div>
      {% endif %}
      <div class="teaser__content">
        {{ content.main }}
      </div>
    </div>

  </div>
{% endif %}

